.about {
  padding-top: 5rem;
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem 1rem 1rem;
}

.container::after {
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  background-color: var(--focus);
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
}

.about > h2 {
  margin-left: 1rem;
}

.about > h2,
.info > h2 {
  text-align: center;
}
.mantras {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.mantra,
.mantraRight {
  transition: var(--transition);
  box-shadow: 2px 3px 4px #1118;
  position: relative;
}

.mantra:hover {
  box-shadow: 4px 5px 6px #1118;
}

.mantraRight:hover {
  box-shadow: 4px 5px 6px #1118;
}

@media screen and (max-width: 800px) {
  .mantras {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .mantra:hover,
  .mantraRight:hover {
    transform: none;
  }
}
