.hero {
  position: relative;
  padding: 5rem 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.title {
  top: 9rem;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  font-size: 1.8rem;
}

.paragraph {
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}
