.event {
  padding: 5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  max-width: var(--max-width);
}

.event > p {
  margin-left: 1rem;
}

.eventReversed {
  flex-direction: row-reverse;
}

.eventReversed > p {
  margin-right: 1rem;
  margin-left: 0;
}
.image {
  flex: 0.8;
  min-width: 200px;
  filter: brightness(40%);
}

.details {
  flex: 1;
  margin-left: 1rem;
}

.details h2 {
  margin-bottom: 0.5rem;
}

.text {
  padding-bottom: 1rem;
}
.detail {
  display: flex;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .detail p {
    margin-left: 0.5rem;
  }

  .event,
  .eventReversed {
    padding: 0rem;

    flex-direction: column;
  }
  .event p,
  .eventReversed p {
    margin: 0;
  }

  .image {
    flex: 0.8;
  }

  .details {
    flex: 1;
  }
}
