.event {
  padding: 5rem 1rem 1rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: var(--max-width);
}

.header {
  display: flex;
  padding-bottom: 1rem;
}
.image {
  flex: 0.8;
  min-width: 200px;
  filter: brightness(60%);
}

.details {
  flex: 1;
  margin-left: 1rem;
}

.details h2 {
  margin-bottom: 0.5rem;
}

.text {
  padding-bottom: 1rem;
}
.detail {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .detail p {
    margin-left: 0.5rem;
  }

  .event {
    padding: 0rem;
  }

  .image {
    padding-bottom: 1rem;
  }

  .header {
    flex-direction: column;
  }

  .image {
    flex: 0.8;
  }

  .details {
    flex: 1;
    padding: 0;
  }

  .text {
    padding: 0 1rem;
  }
}
